# Python
.venv/
__pycache__/
.pytest_cache/

# visual studio code
.vscode/

# Pycharm
.idea/

# node
node_modules/

# scratch (frontendテスト・学習用)
scratch/

# env
.env
.env.development

# database
*.db

# others
.DS_store