FRONTEND_URL=http://localhost:3000

FLASK_CONFIG="development"
FLASK_APP=run.py
FLASK_DEBUG=1

SECRET_KEY="my-secrect-key"

POSTGRES_USER="my_user"
POSTGRES_PASSWORD="my-postgres-password"
POSTGRES_DB="postgresdb"

JWT_SECRET_KEY="my-jwt-secret-key"

DEV_MAIL_DEFAULT_SENDER="default@example.com"
DEV_MAIL_SERVER="default.server.com"
DEV_MAIL_PORT=1234
DEV_MAIL_USERNAME="mail-username"
DEV_MAIL_PASSWORD="mail-password"
